//Base styles
@import '../helpers/index';

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font-size: 16px;
}

a {
  color: $black;
  outline: 0;
  text-decoration: none;
}

p {
  font-size: 1.25em;
  margin-top: 0;
}

img {
  max-height: 200px;
  max-width: 100%;
}
