// Typography
@import '../helpers/index';

h1 {
  text-align: center;
}

::selection {
  background: $white;
  color: $bluePrimary;
}

::-moz-selection {
  background: $white;
  color: $bluePrimary;
}

