// Typography
@import '../helpers/index';

h1 {
  text-align: center;
}

::selection {
  background: $lavenderPrimary;
  color: $white;
}

::-moz-selection {
  background: $lavenderPrimary;
  color: $white;
}

.sg-text--info {
  line-height: 1.3;
  text-align: center;
}