// Buttons
@import '../helpers/index';

.sg-button-primary {
  margin: 8px;

  @media screen and (min-width: $breakpointMedium) {
    margin: 20px 10px;
  }
}

.button-primary--results {
  background: $peachPrimary;
}

.button--whatnow {
  display: block;
  height: auto;
  margin: 20px auto;
  padding: 8px 12px;
}

