// Buttons
@import '../helpers/index';

.sg-button-primary {
  margin: 20px 10px;
}

.button-primary--results {
  background: $peachPrimary;
}

.button--whatnow {
  display: block;

  margin: 20px auto;
}