@import '../helpers/index';

.sg-label {
  padding: 5px;
  @media screen and (min-width: $breakpointMedium) {
    padding: 10px 0;
  }
}

.sg-radio__element:hover {
  cursor: pointer;
}


.sg-label__text {
  margin-left: 5px;
  &:hover span {
    cursor:pointer;
    text-decoration: underline;
  }
}

