// Containers
@import '../helpers/index';

.container {
  margin: 0 auto;
  max-width: $quizMaxWidth;
  padding: 0 20px;
}

.timer__container {
  padding-top: 21px;
}

.buttons__container {
  float: right;
  margin: 15px auto 30px;
}

.results-button__container {
  margin-bottom: 30px;
  text-align: center;
}

.radio__container {
  padding-top: 10px;
  @media screen and (min-width: $breakpointMedium) {
    columns: 2;
  }
}

.progress__container {
  margin-bottom: 30px;
}

.intro__container {
  text-align: center;
}

.results__container {
  margin: 0 auto;
  padding: 5% 0 10px;
}

.message {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 350px;
  max-width: 320px;
  padding: 0 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.message__container {
  text-align: center;
}

.message__signature {
  margin-right: 10px;
  text-align: right;
}