// Containers
@import '../helpers/index';

.container {
  margin: 0 auto;
  max-width: $quizMaxWidth;
  padding: 0 20px;
}

.container__timer {
  padding-top: 21px;
}

.container__button {
  float: right;
  margin: 15px auto 30px;
}

.container__button--results {
  text-align: center;
  margin-bottom: 30px;
}

.container__radio {
  padding-top: 10px;
  @media screen and (min-width: $breakpointMedium) {
    columns: 2;
  }
}

.container__progress {
  margin-bottom: 30px;
}

.container__intro {
  text-align: center;
}

.container__results {
  padding: 5% 0 10px;
}

.text--info {
  padding-bottom: 20px;
  text-align: center;
}

.text--timer {
  font-size: 1.5rem;
  text-align: right;
}

.text--question {
  text-align: left;
}

.progress-bar {
  background-color: $graySecondaryLight;
  border-radius: $borderRadiusDefault;
  width: 100%;
}

.progress-bar__bar {
  background-color: $lavenderPrimary;
  border-radius: $borderRadiusDefault;
  height: 20px;
  transition: .6s ease-in-out width;
  width: 1%;
}

