// Containers
@import '../helpers/index';

.sg-content-box__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;

}



.sg-text--info {
  padding-bottom: 20px;
}