@import '../helpers/index';

// Line breaks in template strings
.text--info,
.text--result {
  white-space: pre-line;
}

// Stop sticky footer
// from covering bottom of the page
.buttons__container {
  padding-bottom: 60px;
}

.buttons__container--intro, .results-button__container {
  padding-bottom: 80px;
}

// Button with line breaks if it doesn't fit on the screen
.button--whatnow {
  white-space: normal;
}