@import '../helpers/index';

// Line breaks in template strings
.text--info,
.text--result {
  white-space: pre-line;
}

// Stop sticky footer
// from covering bottom of the page
.container__button {
  padding-bottom: 55px;
}

.buttons__container--intro {
  padding-bottom: 80px;
}