// State
@import '../helpers/index';

.is-ending {
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
  backface-visibility: hidden;
  color: $peachPrimary;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

.is-correct {
  color: $mintPrimary;
}

.is-wrong {
  color: $peachPrimary;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
